.clients {
    margin-top: 32px;

    .h2 {
        font-weight: 500;
    }

    .clients-list {
        list-style: none;
        max-width: 70%;
    }
}

@media screen and (max-width: 930px) {
    .clients {
        .container {
            flex-direction: column;
        }

        .h2 {
            margin: 32px;
        }

        .clients-list {
            flex-direction: column;

            li {
                margin: 8px;
            }
        }


    }
}