.a-header {
    
    .icon {
        font-size: 42px;
    }

    .h2 {
        font-size: 28px;
        font-weight: 300;
        margin: 32px 0;
    }

    .line {
        width: 100%;
        max-width: 128px;
        height: 4px;
        background-color: orange;
    }
}